<div class="profile-container">


    <table>
        <thead>
            <tr class="thead-td border">
                <td class="display-flex">
                    <div class="font-weight-bold">SMB Profile</div>
                </td>
                <!-- <td class="thead-td">Spouse</td> -->
            </tr>
            <tr class="thead-td">
               <td class="display-flex">
                   <div class="font-weight-bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                </td>
                <!-- <td class="thead-td">Self</td> -->
            </tr>
        </thead>
        <tbody class="border">
            <tr class="thead-td border">
                <td>
            <tr>
                <td class="thead-td">
                    <div>Organization Name:</div>
                    <div> {{customerDetails.orgName}}</div>
                </td>
            </tr>
            <tr>
                <td class="thead-td">
                    <div>Date of Establishment:</div>
                    <div> {{customerDetails.establishmentDateString}}</div>
                </td>
            </tr>
            <tr>
                <td class="thead-td">
                    <div>Founder 1 First Name:</div>
                    <div> {{customerDetails.founder1FirstName}}</div>
                </td>
            </tr>
            <tr>
                <td class="thead-td">
                    <div>Founder 1 Last Name:</div>
                    <div> {{customerDetails.founder1LastName}}</div>
                </td>
            </tr>
            <tr>
                <td class="thead-td">
                    <div>Annual Company Revenue:</div>
                    <div> {{customerDetails.annualRevenue}} &nbsp;&nbsp; {{currency}}</div>
                </td>
            </tr>
            </td>
            </tr>
            <tr class="thead-td ">

                <td>
            <tr>
                <td class="thead-td">
                    <div>Address:</div>
                    <div> {{customerDetails.address}}</div>
                </td>
            </tr>
            <tr>
                <td class="thead-td">
                    <div>Company ID:</div>
                    <div> {{customerDetails.orgId}}</div>
                </td>
            </tr>
            <tr>
                <td class="thead-td">
                    <div>Founder 2 First Name:</div>
                    <div> {{customerDetails.founder2FirstName}}</div>
                </td>
            </tr>
            <tr>
                <td class="thead-td">
                    <div>Founder 2 Last Name:</div>
                    <div> {{customerDetails.founder2LastNamender}}</div>
                </td>
            </tr>
            <tr>
                <td class="thead-td">
                    <div>Annual Company Profit:</div>
                    <div> {{customerDetails.annualProfit}} &nbsp;&nbsp; {{currency}}</div>
                </td>
            </tr>
            </td>
            </tr>
        </tbody>
    </table>
</div>
<ibm-placeholder></ibm-placeholder>