<!-- <div class="infoBlock" *ngIf="deleteUserData">DELETE :: {{deleteUserData | json}}</div> -->
<div class="deleteBlock">
        <button class="closeContainer" (click)="closeEditBlock(false)">
          <img src="../../../../assets/images/close.svg" alt="">
        </button>
        <div class="deleteConfirmation">
          <p>Do you want to delete this Goal ?</p>
          <span class="userDataConfirm">{{deleteGoal.name}}</span>
          <button class="bx--btn bx--btn--danger" aria-label="danger" type="button" (click)="delete()">Delete</button>
          <button class="bx--btn bx--btn--secondary" type="button" (click)="cancel()">Cancel</button>
        </div>
      </div>